* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body {
  max-width:100vw;
  overflow-x: hidden;
}
header {
  display:flex;
  gap: 27em;
  padding:1em 1em 1em 3em;
  flex-wrap: nowrap;
  background-color: black;
  color:white;
}
header div img {
  padding-right: 0.5em;
}
header div img:last-child {
  padding-left:1em;
 transform: scale(2);
}
main .banner {
  height: 100vh;
  width: 100vw;
background-image: url('img/background1.jpg');
  background-size:cover;
 background-repeat: no-repeat;
 
}
main .banner .screen {
  height:100vh;
  width:100vw;
  background-color: rgb(0,0,0,0.8);
display: flex;
 justify-content: center;
 align-items: center;
}
main .banner .screen div {
  color:white;
  transform:scale(2);
}
main .banner .screen div button {
  padding: 1em 3em ;
  margin-top:1em;
  position: relative;
  left:1em;
  background-color: rgb(0,0,0,0);
  border-radius:2em;
  color:white;
}
@font-face {
  font-family: myFirstFont;
  src: url(fonts/blacklite.ttf)
}
@font-face {
  font-family: mySecondFont;
  src: url(fonts/fonts.woff2)
}
main .about_me {
  height: 50vh;
  margin-top:5em;
  padding-top:2em;
  margin-bottom: 10em;
}
main .about_me h1 {
  font-family: mySecondFont;
  text-align: center;
  color:#f2f4f4;
  font-size: 10em;
}
main .about_me div:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
position: relative;
top:-14%;

}
main .about_me div:nth-of-type(1) h2  {
  font-size:2.5em;
 
}
main .about_me div:nth-of-type(1) hr {
  height: 0.2em;
  width: 10vw;
  background-color: black;
border: 1px solid black;
  border-radius:25%;
 margin-bottom: 5em;
}
main .about_me div:nth-of-type(1) h3 {
  font-size:2.2em;
  margin-bottom: 2em;
}
main .about_me div:nth-of-type(1) h3 span {
  text-transform:uppercase;
}
main .about_me div:nth-of-type(1) p {
  max-width:80vw;
  font-size: 1.2em;
}
main .about_me div:nth-of-type(1) p span {
  font-size:3.5em;
}
main .about_me div:nth-of-type(2) {
  padding-left:6.2em;
 position: relative;
 top:-10%;
}
main .about_me div:nth-of-type(2) p {
  margin-bottom:1em;
  font-size: 1.2em;
}
main .about_me div:nth-of-type(2) p span {
  text-transform:uppercase;
  font-weight:bold;
}
main .about_me div:nth-of-type(2) button {
  padding:1em 2em;
  background-color: black;
  color:white;
  border-radius:4em;
}
main .services {
  height: 50vh;
  width: 100vw;
  margin-bottom: 10em;
  background-color: #f8f9fa;
}
main .services h1  {
 font-family: mySecondFont;
  text-align: center;
  color:#eff0f2;
  font-size: 10em;
}
main .services h3 {
font-size:2.5em;
position: relative;
top:-14%;
text-align: center;
}
main .services hr {
position: relative;
top:-14%;
margin: auto;
height: 0.2em;
  width: 10vw;
  background-color: black;
border: 1px solid black;
  border-radius:25%;
 margin-bottom: 5em;
}
main .services div {
  position: relative;
  top:-18%;
  left:7%;
  display: flex;
  flex-wrap: wrap;
 max-width:85vw;
 margin:auto;
 
}
main .services div p {
  flex: 50%;
  max-width:30vw ;
  margin:0em 6em 1em 0em;
}
main .services div p img {
position: relative;
top:20%;
left:-30%;
padding: 1em;
background-color: #fcfeff;
 box-shadow:10px 10px 10px  2px #e9e9e9;
  border-radius:1em;
  max-height: 5em;
  min-height:4.8em;
}
main .services div p span {
  font-weight:bold;
  display: block;
  font-size: 1.5em;
}
main .summary {
height: 50vh;
  width: 100vw;
}
main .summary h1 {
font-family: mySecondFont;
  text-align: center;
  color:#eff0f2;
  font-size: 10em;
}
main .summary h3 {
font-size:2.5em;
position: relative;
top:-14%;
text-align: center;
}
main .summary hr {
position: relative;
top: -14%;
margin: auto;
height: 0.2em;
  width: 10vw;
  background-color: black;
border: 1px solid black;
  border-radius:25%;

}
main .summary .resume {
  display:flex;
  max-width:80vw;
  margin:0 auto 4em;
  gap:5em;
}
main .summary .resume .education h2 {
  margin-bottom: 1em;
  text-align: center;
}
main .summary .resume .education .card {
padding: 2em;
height: 27vh;
width:35vw;
background-color: white;
border:2px solid #f3f3f3; 
border-radius:1em;
box-shadow:10px 10px 10px  2px #e9e9e9;
}
main .summary .resume .education .card span {
  display: inline-block;
  padding:0.2em 0.6em;
  background-color: black;
  color:white;
  border-radius:0.4em;
  margin-bottom: 1em;
}
main .summary .resume .education .card h4 {
  font-size: 1.5em;
  margin-bottom:0.6em;
}
main .summary .resume .education .card h5 {
  font-size: 1.1em;
  margin-bottom: 1em;
}
main .summary .resume .experience h2 {
  margin-bottom: 1em;
  text-align: center;
}
main .summary .resume .experience .card {
padding: 2em;
height: 27vh;
width:35vw;
background-color: white;
border:2px solid #f3f3f3; 
border-radius:1em;
box-shadow:10px 10px 10px  2px #e9e9e9;
}
main .summary .resume .experience .card span {
  display: inline-block;
  padding:0.2em 0.6em;
  background-color: black;
  color:white;
  border-radius:0.4em;
  margin-bottom: 1em;
}
main .summary .resume .experience .card h4 {
  font-size: 1.5em;
  margin-bottom:0.6em;
}
main .summary .resume .experience .card h5 {
  font-size: 1.1em;
  margin-bottom: 1em;
}
main .summary .skills {
  display:flex;
  max-width:80vw;
  margin:auto;
  flex-wrap: wrap;
 padding-left: 2em;
}
main .summary .skills h2 {
  display:block;
  width: 100%;
  margin-bottom: 1em;
 
}
main .summary .skills .bar {
  flex:50%;
  margin-bottom: 2em;
  
}
main .summary .skills .bar p span {
 position: relative;
 left:60%;
}
main .summary .skills .bar:nth-of-type(3) p span {
 position: relative;
 left:50%;
}
main .summary .skills .bar:nth-of-type(4) p span {
 position: relative;
 left:56%;
}
main .summary .skills .bar .skill-bar {
  width: 30vw;
  height: 0.5vh;
  background-color:#f2f2f2;
  border-radius: 1em;
}
main .summary .skills .bar .skill-bar .skill-progress1 {
  height: 0.5vh;
  background-color: black;
  border-radius: 1em;
  animation: skill-progress1 2s ease-in-out forwards;
  animation-delay: 2s;
}
main .summary .skills .bar .skill-bar .skill-progress2 {
  height: 0.5vh;
  background-color: black;
  border-radius: 1em;
  animation: skill-progress2 2s ease-in-out forwards;
  animation-delay: 2s;
}
@keyframes skill-progress1 {
  from {
    width: 0;
  }
  to {
    width: 90%;
  }
}
@keyframes skill-progress2 {
  from {
    width: 0;
  }
  to {
    width: 60%;
  }
}

